<!--View Details-->
<div class="modal fade" id="bugDetailsModal" tabindex="-1" aria-labelledby="bugDetailsModalTitle" aria-hidden="true"
     *ngIf="detailedBug">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: darkred; margin-right: -0.5px; margin-top: -1px ">
        <h5 class="modal-title" id="bugDetailsModalTitle" style="color: whitesmoke;font-size: 20px; ">{{"demo.Bug details"| translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: #fff; font-size: 20px"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="margin-top: 1em;">
        <form class="form-signin text-center"
              #formControl="ngForm">
          <span class="form-group has-float-label">
            <input type="text"
                   name="titleDetails"
                   id="titleInputDetails"
                   #titleDetails="ngModel"
                   class="form-control"
                   [(ngModel)]="detailedBug.title"
                   disabled>
            <label for="titleInputDetails" style="margin-top: 15px">{{"demo.Title"| translate}}</label>
          </span>
          <div class="form-group" style="margin-bottom: 1.5em;">
            <label for="descriptionInputDetails">{{"demo.Description"| translate}}</label>
            <textarea #description="ngModel" [(ngModel)]="detailedBug.description" name="description"
                      class="form-control" id="descriptionInputDetails" rows="3" disabled></textarea>
          </div>
          <span class="form-group has-float-label">
            <input type="text"
                   name="versionDetails"
                   id="versionInputDetails"
                   #versionDetails="ngModel"
                   class="form-control"
                   [(ngModel)]="detailedBug.version"
                   disabled>
            <label for="versionInputDetails" style="margin-top: 15px">{{"demo.Version"| translate}}</label>
          </span>
          <span class="form-group has-float-label">
            <input type="text"
                   name="targetDateDetails"
                   id="targetDateInputDetails"
                   class="form-control"
                   #targetDateDetails="ngModel"
                   [(ngModel)]="detailedBug.targetDate.split('T')[0]"
                   disabled>
            <label for="targetDateInputDetails" style="margin-top: 15px">{{"demo.Target Date"| translate}}</label>
          </span>
          <span class="form-group has-float-label">
            <input type="text"
                   name="severityDetails"
                   id="severityInputDetails"
                   class="form-control"
                   #severityDetails="ngModel"
                   [(ngModel)]="detailedBug.severity"
                   disabled>
            <label for="severityInputDetails" style="margin-top: 15px">{{"demo.Severity"| translate}}</label>
          </span>
          <span class="form-group has-float-label">
            <input type="text"
                   name="statusDetails"
                   id="statusInputDetails"
                   class="form-control"
                   #statusDetails="ngModel"
                   [(ngModel)]="detailedBug.status"
                   disabled>
            <label for="statusInputDetails" style="margin-top: 15px">Status</label>
          </span>
          <span class="form-group has-float-label">
            <input type="text"
                   name="fixedVersionDetails"
                   id="fixedVersionInputDetails"
                   class="form-control"
                   #fixedVersionDetails="ngModel"
                   [(ngModel)]="detailedBug.fixedVersion"
                   disabled>
            <label for="fixedVersionInputDetails" style="margin-top: 15px">{{"demo.Fixed Version"| translate}}</label>
          </span>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default"
                style="width: 90px; height: 40px; margin-bottom: .75em; background-color: darkred; color: white; padding-right: 1.5em; padding-bottom: .5em; font-size: 14px;" (click)="downloadAttachment(detailedBug.id)">
          Attachment
        </button>
        <button *ngIf="isBUG_EXPORT_PDF()" class="btn btn-default"
                style="width: 90px; height: 40px; margin-bottom: .75em; background-color: darkred; color: white; padding-right: 1.5em; padding-bottom: .5em; font-size: 14px;" (click)="exportToPdf(detailedBug.description,detailedBug.fixedVersion,
            detailedBug.severity,detailedBug.status,detailedBug.targetDate,
            detailedBug.title,detailedBug.version)">
          <i class="fas fa-file-pdf" style="font-size: 14px; color: white; margin-right: .25em;" ></i>
          PDF
        </button>
      </div>
      <div *ngIf="errorOccurred">
        <app-communication [errors]="[errorMessage]"></app-communication>
      </div>
    </div>
  </div>
</div>
