<!--Notifications-->

<div class="modal fade" id="notificationsModal" tabindex="-1" role="dialog" aria-labelledby="notificationsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: darkred; margin-right: -0.5px; margin-top: -1px ">
        <h5 class="modal-title" id="notificationsModalTitle" style="color: whitesmoke;font-size: 20px; ">{{"demo.Notifications"|translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff; font-size: 20px">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 0; text-align: center;">
        <p style="text-align: center;" *ngIf="displayedAllNotifications.length==0 && displayedNewNotifications.length==0">{{ 'demo.You don\'t have any notifications.' | translate }}</p>
        <div style="display: flex; flex-direction: row; position: relative; margin: .5em 0 1.5em 0;" *ngIf="displayedNewNotifications.length>0">
          <span style="position: absolute; float: left; left: .5em; font-weight: bold; font-style: italic; font-size: 18px;">{{ 'demo.Latest notifications' | translate }}</span>
          <a #btnReadAll style="cursor: pointer; color: darkred; position: absolute; float: right; right: .5em; font-size: 18px;" (click)="seeAllNotifications()">{{"demo.Mark all as read"|translate}}</a>
        </div>
        <ul style="list-style-type: none; width: 100%; margin: .5em 0 0 0; padding: 0;">
          <li *ngFor="let notification of displayedNewNotifications.reverse()">
            <div class="card text-center background-tint">
              <div class="card-header">
                {{"demo." + notification.type |translate }}
                <i class="fas fa-glasses" (click)="seeNotification(notification);" data-placement="left" tooltip="Mark as read"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ notification.message}}</h5>
                <p class="card-text"><a href="">{{ notification.URL }}</a></p>
              </div>
              <!--<div class="card-footer text-muted">-->
                <!--Date-->
              <!--</div>-->
            </div>
          </li>
        </ul>
        <div style="display: flex; flex-direction: row; position: relative; margin: .5em 0 1.5em 0;">
          <span *ngIf="displayedNewNotifications.length==0 && displayedAllNotifications.length>0" style="position: absolute; float: left; left: .5em; font-weight: bold; font-style: italic; font-size: 18px;">{{ 'demo.All notifications' | translate }}</span>
          <span *ngIf="displayedNewNotifications.length>0" style="position: absolute; float: left; left: .5em; font-weight: bold; font-style: italic; font-size: 18px;">{{ 'demo.Older notifications' | translate }}</span>
        </div>
        <ul style="list-style-type: none; width: 100%; margin: .5em 0 0 0; padding: 0;">
          <li *ngFor="let notification of displayedAllNotifications.reverse()">
            <div class="card text-center">
              <div class="card-header">
                {{"demo." + notification.type |translate }}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ notification.message }}</h5>
                <p class="card-text"><a href="">{{ notification.URL }}</a></p>
              </div>
              <!--<div class="card-footer text-muted">-->
                <!--Date-->
              <!--</div>-->
            </div>
          </li>
        </ul>
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    </div>
  </div>
</div>
