<!--Notifications-->
<div class="modal fade" id="notificationsModal" tabindex="-1" role="dialog" aria-labelledby="notificationsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: darkred; margin-right: -0.5px; margin-top: -1px ">
        <h5 class="modal-title" id="notificationsModalTitle" style="color: whitesmoke;font-size: 20px; ">Notifications</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff; font-size: 20px">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 0; text-align: center;">
        <p *ngIf="displayedNewNotifications.length>0">Latest notifications</p>
        <ul style="list-style-type: none; width: 100%; margin: 0; padding: 0;">
          <li *ngFor="let notification of displayedNewNotifications.reverse()">
            <div class="card text-center">
              <div class="card-header">
                {{ notification.type }}
                <i class="fas fa-glasses" [hidden]="toHide(notification)" data-placement="bottom" title="Mark as read" (click)="displayedNewNotifications.splice(displayedNewNotifications.findIndex(notification), 1);"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ notification.message }}</h5>
                <p class="card-text"><a href="">{{ notification.URL }}</a></p>
              </div>
              <div class="card-footer text-muted">
                Date
              </div>
            </div>
          </li>
        </ul>
        <p>All notifications</p>
        <ul style="list-style-type: none; width: 100%; margin: 0; padding: 0;">
          <li *ngFor="let notification of displayedAllNotifications.reverse()">
            <div class="card text-center">
              <div class="card-header">
                {{ notification.type }}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ notification.message }}</h5>
                <p class="card-text"><a href="">{{ notification.URL }}</a></p>
              </div>
              <div class="card-footer text-muted">
                Date
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    </div>
  </div>
</div>
