<link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css"/>

<div class="sidenav">
  <p > Welcome back, {{userModel.username}}</p>
  <a (click)="showInfoDiv=true;showUpdate=false;showPassword=false;refresh()">Display data </a>
  <a (click)="showInfoDiv=false;showUpdate=true;showPassword=false;refresh()">Change data</a>
  <a (click)="showInfoDiv=false;showUpdate=false;showPassword=true;refresh()">Change password</a>
</div>

<div
  id="infoDiv"
     [hidden]="!showInfoDiv"
     *ngFor="let user of userList">
  <ul *ngIf="user.username== userModel.username">
    <li   [hidden]="!showInfoDiv">{{"demo.Your personal data"| translate}}:</li>
    <br>
    <li >{{"demo.First name"| translate}}: {{user.firstName}}</li>
    <li >{{"demo.Last name"| translate}}: {{user.lastName}}</li>
    <li>E-mail: {{user.email}}</li>
    <li >{{"demo.Phone number"| translate}}: {{user.phoneNumber}}</li>
    <li >{{"demo.Username"| translate}}: {{user.username}}</li>
    <li>{{"demo.Active"| translate}}: {{user.isActive}}</li>
  </ul>
</div>

<div class="modal-body"
     id="updateDiv"
     [hidden]="!showUpdate">
  <form class="form-signin text-center"
        (ngSubmit)="submitEditForm()"
        #formControl="ngForm"
  >
    <h1 class="h1 mb-3 font-weight-normal" translate>demo.Edit</h1><br>
    <span class="form-group has-float-label">
            <input type="text" id="inputFirstName" class="form-control"
                   name="firstname"
                   minlength="2"
                   pattern="[a-zA-Z]+"
                   [(ngModel)]="userModel.firstName"
                   placeholder=" ">
            <label for="inputFirstName" translate>demo.First name</label>
          </span>
    <span class="form-group has-float-label">
            <input type="text" id="inputLastName" class="form-control"
                   name="lastname"
                   minlength="2"
                   pattern="[a-zA-Z]+"
                   [(ngModel)]="userModel.lastName"
                   placeholder=" ">
            <label for="inputLastName" translate>demo.Last name</label>
          </span>
    <span class="form-group has-float-label">
            <input type="text" id="inputPhoneNumber" class="form-control"
                   name="phonenumber"
                   minlength="10"
                   pattern="[0-9]+"
                   [(ngModel)]="userModel.phoneNumber"
                   placeholder=" ">
            <label for="inputPhoneNumber" translate>demo.Phone number</label>
          </span>
    <span class="form-group has-float-label">
            <input type="text" id="inputEmail" class="form-control"
                   name="email"
                   pattern="^[a-zA-Z]*@msggroup.com$"
                   [(ngModel)]="userModel.email"
                   placeholder=" "
                   >
            <label for="inputEmail" translate>E-mail</label>
          </span>
    <span *ngIf="userModel.email || userModel.firstName || userModel.phoneNumber || userModel.lastName">
    <button  class="btn btn-lg btn-block" type="submit" style="background-color: darkred; color: white; margin-bottom: 1em;" >
    {{ 'demo.Edit' | translate }}
    </button>
      </span>
    <span *ngIf="(!userModel.email )&& (!userModel.firstName )&& (!userModel.phoneNumber )&& (!userModel.lastName)">
    <button  class="btn btn-lg btn-block" type="submit" style="background-color: darkred; color: white; margin-bottom: 1em;" disabled >
    {{ 'demo.Edit' | translate }}
    </button>
      </span>
    <label id="errorLabel" *ngIf="errorOccurred" class="errorLabel"  >{{errorMessage}}</label>
    <label id="succesLabel" *ngIf="positiveResponse" class="successLabel">Action completed successfully</label>
  </form>
  <button type="button" class="btn btn-default" style="margin-right: 1em;" (click)="pressedEdit=false;" *ngIf="pressedEdit" translate>demo.Back</button>
</div>

<div class="modal-body"
     id="passwordDiv"
     [hidden]="!showPassword">
  <form class="form-signin text-center"
        (ngSubmit)="submitEditPasswordForm()"
        #formControl="ngForm">
    <h1 class="h1 mb-3 font-weight-normal" translate>demo.Edit</h1><br>
    <span class="form-group has-float-label">
            <input type="password" id="inputNewPassword" class="form-control"
                   name="newpassword"
                   minlength="2"
                   required
                   [(ngModel)]="newPassword"
                   pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,20}"
                   placeholder=" ">
            <label for="inputNewPassword" translate>demo.New Password</label>
          </span>
    <span class="form-group has-float-label">
            <input type="password" id="inputNewPasswordConfirm" class="form-control"
                   name="passwordconfirm"
                   required
                   [(ngModel)]="newPasswordConfirmed"
                   pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,20}"
                   placeholder=" ">
            <label for="inputNewPasswordConfirm" translate>demo.Confirm Password</label>
          </span>

    <span *ngIf="newPassword && newPasswordConfirmed">
    <button  class="btn btn-lg btn-block" type="submit" style="background-color: darkred; color: white; margin-bottom: 1em;" >
    {{ 'demo.Edit' | translate }}
    </button>
      </span>
    <span *ngIf="!newPassword || !newPasswordConfirmed">
    <button  class="btn btn-lg btn-block" type="submit" style="background-color: darkred; color: white; margin-bottom: 1em;" disabled >
    {{ 'demo.Edit' | translate }}
    </button>
      </span>
    <label id="errorLabel2" *ngIf="errorOccurred" class="errorLabel"  >{{errorMessage}}</label>
    <label id="succesLabel2" *ngIf="positiveResponse" class="successLabel">Action completed successfully</label>
  </form>
  <button type="button" class="btn btn-default" style="margin-right: 1em;" (click)="pressedEdit=false;" *ngIf="pressedEdit" translate>demo.Back</button>
</div>
