<!--Add-->
<div class="modal fade" id="addBugsModal" tabindex="-1" aria-labelledby="addBugsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: darkred; margin-right: -0.5px; margin-top: -1px ">
        <h5 class="modal-title" id="addBugsModalTitle" style="color: whitesmoke;font-size: 20px; ">{{"demo.Submit a bug"| translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: #fff; font-size: 20px" #closeBtn
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">


        <i class="material-icons" (mouseenter)="showInfo()" (mouseleave)="hideInfo()"
           style="cursor: help; margin: 0 auto">
          info
        </i>


        <div #infoDiv class="alert alert-warning"
             style="left: 20%; top:25%;width: 60%; margin: 0 auto;position:fixed;z-index: 99 !important;"
             [hidden]="!showInfoDiv">
          <strong>{{"demo.Keep in mind!"| translate}}</strong>
          <p style="color:black;">{{"demo.KeepInMindMessageBug"| translate}}</p>
        </div>


        <form class="form-signin text-center" (ngSubmit)="submitAddData()" #formControl="ngForm"
        >

          <br>
          <div class="form-group has-float-label">
            <div
              *ngIf="validateInput ||title.touched || targetDate.touched || description.touched || version.touched || assignedTo.touched ">
              <div class="help-block"
                   *ngIf="title?.errors && title?.errors['required']" style="margin-top: 15px">
                {{ "demo.Title is required"| translate}}
              </div>
            </div>
            <input type="text" name="title" #title="ngModel" #titleId id="titleInput"
                   class="form-control" required
                   [ngClass]="{'form-error': title?.errors &&
                   (validateInput || title.touched || description.touched || version.touched || assignedTo.touched )}"
                   [(ngModel)]="bugModel.title" placeholder="{{bugModel.title}}">
            <label for="titleInput" translate style="margin-top: 15px">demo.Title</label>
          </div>


          <br>
          <div class="form-group has-float-label">
            <div
              *ngIf="validateInput || description.touched || targetDate.touched || description.touched || version.touched || assignedTo.touched ">
              <div class="help-block"
                   *ngIf="targetDate?.errors && targetDate?.errors['required']" style="margin-top: 15px">
                {{ "demo.Target date is required"| translate}}
              </div>
            </div>
            <div class="input-group">
              <label for="targetDateInput" translate style="margin-right: 5%">demo.Target date</label>
              <input type="date" class="form-control" placeholder="yyyy-mm-dd" id="targetDateInput"
                     name="targetDate" #targetDate="ngModel" required
                     [ngClass]="{'form-error': targetDate?.errors &&
                       (validateInput || description.touched || targetDate?.touched || version.touched || assignedTo.touched)}"
                     [ngModel]="bugModel.targetDate"
                     (ngModelChange)="bugModel.targetDate = $event">
            </div>
          </div>


          <div class="form-group ">
            <div *ngIf="validateInput || description.touched || version.touched || assignedTo.touched">
              <div class="help-block"
                   *ngIf="description?.errors && description?.errors['required']" style="margin-top: 15px">
                {{ "demo.Description is required"| translate}}
              </div>
              <div class="help-block"
                   *ngIf="description?.errors && description?.errors['minlength']" style="margin-top: 15px">
                {{ "demo.Description must contain at least 250 characters"| translate}}
              </div>
            </div>
            <label for="descriptionInput" translate>demo.Description</label>
            <textarea #description="ngModel" [(ngModel)]="bugModel.description" name="description" class="form-control"
                      id="descriptionInput" rows="3" placeholder="{{bugModel.description}}"
                      [ngClass]="{'form-error': description?.errors &&
                      (validateInput || description.touched || version.touched || assignedTo.touched)}"
                      required minlength="250">
            </textarea>
          </div>


          <div class="form-group has-float-label">
            <div *ngIf="validateInput || version.touched || assignedTo.touched">
              <div class="help-block"
                   *ngIf="version?.errors && version?.errors['required']" style="margin-top: 15px">
                {{ "demo.Version is required"| translate}}
              </div>
              <div class="help-block"
                   *ngIf="version?.errors && version?.errors['pattern']" style="margin-top: 15px">
                {{ "demo.Version must contain only groups of alphanumeric characters and a dot in-between " +
                "(examples: 1, 1.2, a1.2, 1.a2, 1.2.3) "| translate}}
              </div>
            </div>
            <input name="version" #version="ngModel" #versionId id="versionInput"
                   type="text" class="form-control" required
                   [(ngModel)]="bugModel.version" placeholder="{{bugModel.version}}"
                   pattern="^[a-z0-9A-Z]+(\.[a-z0-9A-Z]+)*$"
                   [ngClass]="{'form-error': version?.errors &&
                   (validateInput || version.touched || assignedTo.touched)}"
            >
            <label for="versionInput" translate style="margin-top: 15px">demo.Version</label>
          </div>


          <div class="form-group has-float-label">
            <div *ngIf="validateInput || assignedTo.touched">
              <div class="help-block"
                   *ngIf="assignedTo?.errors && assignedTo?.errors['required']" style="margin-top: 15px">
                {{ "demo.Assignee username is required"| translate}}
              </div>
              <div class="help-block"
                   *ngIf="assignedTo?.errors && assignedTo?.errors['pattern']" style="margin-top: 15px">
                {{ "demo.Assignee username must contain only alphanumeric characters."| translate}}
              </div>
            </div>
            <input name="assignedTo" #assignedTo="ngModel" #assignedToId id="assignedToInput"
                   type="text" class="form-control" required pattern="[a-z0-9A-Z]+"
                   [(ngModel)]="bugModel.assignedTo.username" placeholder="{{bugModel.assignedTo.username}}"
                   [ngClass]="{'form-error': assignedTo?.errors && (validateInput || assignedTo.touched)}"
            >
            <label for="assignedToInput" translate style="margin-top: 15px">demo.Assignee username</label>
          </div>


          <div class="form-group">
            <label for="attachmentInputAdd">Attachment</label>
            <input name="attachmentAdd" id="attachmentInputAdd" type="file" class="form-control-file"
                   (change)="fileChange($event)">
          </div>
          <br>


          <span class="form-group has-float-label">
            <mat-form-field>
              <mat-select placeholder='{{ "demo.Click to add severity"| translate}}' style="color: white"
                          [formControl]="severityFormControl"
                          (selectionChange)="addBugSeverity(severityFormControl.value)">
                <mat-option *ngFor="let severity of possibleSeverities" [value]="severity">{{ 'demo.' + severity| translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </span>

          <div class="submit-wrapper" (mouseenter)="validate()">
            <button class="btn btn-lg btn-block" type="submit"
                    [disabled]="formControl?.invalid"
                    style="background-color: darkred;margin-top: 30px; color: white; margin-bottom: 1em;  font-size: 15px; position: center"
                    translate>
              demo.Submit
            </button>
          </div>


            <app-communication [errors]="[errorMessage]"
                               [warnings]="[wrongFileWarning,noFileWarning]"
                               [successes]="[success]"
            ></app-communication>
        </form>
      </div>
    </div>
  </div>
</div>
