<!--Add-->
<div class="modal fade" id="addBugsModal" tabindex="-1" aria-labelledby="addBugsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: darkred; margin-right: -0.5px; margin-top: -1px ">
        <h5 class="modal-title" id="addBugsModalTitle" style="color: whitesmoke;font-size: 20px; ">{{"demo.Submit a bug"| translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: #fff; font-size: 20px" #closeBtn
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <i class="material-icons" (mouseenter)="showInfo()" (mouseleave)="hideInfo()"
           style="cursor: help; margin: 0 auto">info</i>
        <div #infoDiv class="alert alert-warning"
             style="left: 20%; top:25%;width: 60%; margin: 0 auto;position:fixed;z-index: 99 !important;"
             [hidden]="!showInfoDiv">
          <strong >{{"demo.Keep in mind!"| translate}}</strong>
          <p  style="color:black;">{{"demo.KeepInMindMessageBug"| translate}}</p>
        </div>
        <form class="form-signin text-center"
              (ngSubmit)="submitAddData()"
              #formControl="ngForm">
          <div class="form-group">
            <label for="descriptionInputAdd">{{"demo.Description"| translate}}</label>
            <textarea required minlength="250" #descriptionAdd="ngModel" [(ngModel)]="bugModel.description"
                      name="descriptionAdd" class="form-control" id="descriptionInputAdd" rows="3"></textarea>
          </div>

          <span class="form-group has-float-label">
            <mat-form-field>
              <mat-select placeholder='{{ "demo.Click to add severity"| translate}}' style="color: white"
                          [formControl]="severityFormControl"
                          (selectionChange)="addBugSeverity(severityFormControl.value)">
                <mat-option *ngFor="let severity of possibleSeverities" [value]="severity">{{ 'demo.' + severity| translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </span>

          <div class="form-group">
            <div class="input-group">
              <input type="date" class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [ngModel]="bugModel.targetDate" (ngModelChange)="bugModel.targetDate = $event">
            </div>
          </div>
          <span class="form-group has-float-label">
                <span class="help-block" *ngIf="titleAdd.errors?.required && titleAdd.touched" translate
                      style="margin-top: 15px">{{ "demo.Title is required"| translate}}</span>
                <input type="text"
                       name="titleAdd"
                       id="titleInputAdd"
                       #titleAdd="ngModel"
                       class="form-control"
                       required
                       [(ngModel)]="bugModel.title"
                       placeholder=" ">
                <label for="titleInputAdd" style="margin-top: 15px">Title</label>
              </span>
          <span class="form-group has-float-label">
                <span class="help-block" *ngIf="versionAdd.errors?.required && versionAdd.touched" translate
                      style="margin-top: 15px">{{ "demo.Version is required"| translate}}</span>
                <input type="text"
                       name="versionAdd"
                       id="versionInputAdd"
                       #versionAdd="ngModel"
                       class="form-control"
                       required
                       [(ngModel)]="bugModel.version"
                       placeholder=" "
                       pattern="^\w+(\.\w*)*$">
                <label for="versionInputAdd" translate style="margin-top: 15px">demo.Version</label>
              </span>
          <span class="form-group has-float-label">
                <span class="help-block" *ngIf="assignedToAdd.errors?.required && assignedToAdd.touched" translate
                      style="margin-top: 15px">{{ "demo.Assigned to is required"| translate}}</span>
                <input type="text"
                       name="assignedToAdd"
                       id="assignedToInputAdd"
                       #assignedToAdd="ngModel"
                       class="form-control"
                       required
                       [(ngModel)]="bugModel.assignedTo.username"
                       placeholder=" ">
                <label for="assignedToInputAdd" translate style="margin-top: 15px">{{ "demo.Assigned to"| translate}}</label>
              </span>
          <div class="form-group">
            <label for="attachmentInputAdd">Attachment</label>
            <input name="attachmentAdd" id="attachmentInputAdd" type="file" class="form-control-file"
                   (change)="fileChange($event)">
          </div>
          <div *ngIf="fileNotValid">
            File not valid. Bug can be submitted without the attachment.
          </div>
          <button class="btn btn-lg btn-block" type="submit"
                  style="background-color: darkred;margin-top: 30px; color: white; margin-bottom: 1em;  font-size: 15px; position: center"
                  [disabled]="formControl.invalid" translate
          >
            demo.Submit
          </button>
          <div *ngIf="submitAddPerformed">
          <label *ngIf="errorOccurred && startedEditing()" class="errorLabel">
            <app-error-message [errorMessage]="errorMessage"> </app-error-message>
          </label>
          <label *ngIf="positiveResponse" class="successLabel">{{ "demo.Action completed successfully"| translate}}</label>
          <div class="alert alert-info" role="alert" *ngIf="fileSendAttempted==false && errorOccurred==false
           && submitAddPerformed==true">
            {{ "demo.Please wait while we are validating the file"| translate}}
          </div>
          </div>
          <div class="alert alert-info" role="alert" *ngIf="formControl.invalid">
            {{ "demo.Invalid information"| translate}}
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
