<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Manage user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="pressedEdit=false;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
        <form class="form-signin text-center"
              (ngSubmit)="submitEditForm()"
              *ngIf="pressedEdit"
              #formControl="ngForm">
          <h1 class="h3 mb-3 font-weight-normal">Edit a user</h1>
          <span class="form-group has-float-label">
            <input type="text" id="inputFirstName" class="form-control"
                   name="username"
                   minlength="3"
                   pattern="[a-z0-9]+"
                   required
                   placeholder=" ">
            <label for="inputFirstName">First name</label>
          </span>
          <span class="form-group has-float-label">
            <input type="password" id="inputLastName" class="form-control"
                   name="password"
                   required
                   placeholder=" ">
            <label for="inputLastName">Last name</label>
          </span>
          <span class="form-group has-float-label">
            <input type="password" id="inputPhoneNumber" class="form-control"
                   name="password"
                   required
                   placeholder=" ">
            <label for="inputPhoneNumber">Phone number</label>
          </span>
          <span class="form-group has-float-label">
            <input type="password" id="inputEmail" class="form-control"
                   name="password"
                   required
                   placeholder=" ">
            <label for="inputEmail">E-mail</label>
          </span>
          <button class="btn btn-lg btn-block" type="submit"
                  [disabled]="formControl.invalid"
          >Edit
          </button>
        </form>
        <button type="button" class="btn btn-default" style="margin-right: 1em;" (click)="showEditPopup()" *ngIf="!pressedEdit">Edit</button>
        <button type="button" class="btn btn-default" style="margin-right: 1em;" (click)="disableUser()" *ngIf="!pressedEdit">Disable</button>
        <button type="button" class="btn btn-default" style="margin-right: 1em;" (click)="pressedEdit=false;" *ngIf="pressedEdit">Back</button>
      </div>
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    </div>
  </div>
</div>
<div class="column justify-content-center">
  <div class="table-responsive">
  <table class="table table-hover table-dark shadow p-3 mb-5 rounded">
    <thead style="background-color: darkred; border-color: darkred;" >
    <tr>
      <th scope="col">Username</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Phone number</th>
      <th scope="col">E-mail</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userList" data-toggle="modal" #row data-target="#exampleModal" (click)="passDataToModal(user)">
      <td>{{ user.username }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>{{ user.email }}</td>
    </tr>
    </tbody>
  </table>
  </div>
  <button class="btn btn-default" style="margin: 2em 0 0 0;" (click)="logout()">Logout</button>
</div>
