
/deep/ html {
  height: 100%;
  box-sizing: border-box;
}

/deep/ body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

/deep/ *,
*:before,
*:after {
  box-sizing: inherit;
}

/deep/ #wrap {
  margin: 0 auto;
  width: 94%;
}

/deep/ #main {
  overflow: auto;
  padding-bottom: 50px;
  margin-top: 5em;
  min-width: 100%;
  width: 100%;
}

/deep/ nav {
  -webkit-box-shadow: 0 8px 6px -6px #000;
  -moz-box-shadow: 0 8px 6px -6px #000;
  box-shadow: 0 8px 6px -6px #000;
}
/deep/ .topnav-right {
  float: right;
}

/deep/ .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
