<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" routerLink="/">JBugs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sign-up" *ngIf="!isUserLoggedIn()">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" *ngIf="!isUserLoggedIn()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile" *ngIf="isUserLoggedIn()">Profile</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<footer class="footer" style="background-color: #202020;">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col text-center">
        <span class="text-light">Team A</span>
      </div>
      <div class="col centerImage">
        <img src="../assets/msglogo.svg" class="msg">
      </div>
    </div>
  </div>
</footer>
