<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" routerLink="/" style="font-size: 36px;">JBugs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="nav navbar-nav navbar-right" style="margin-top: .5em;">
      <li>
        <a class="nav-link" routerLink="home"><i class="material-icons" style="font-size: 36px;">home</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register" *ngIf="!isUserLoggedIn()" style="font-size: 24px;">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" *ngIf="!isUserLoggedIn()" style="font-size: 24px;">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile" *ngIf="isUserLoggedIn()"><i class="material-icons" style="font-size: 36px;">account_circle</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="roles" *ngIf="isUserLoggedIn()">Roles</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <img src="../assets/romaniaFlag.png" height="36px" style="margin-right: 1em; cursor: pointer;">
      </li>
      <li>
        <img src="../assets/usFlag.png" height="36px" style="cursor: pointer;">
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bugs" *ngIf="isUserLoggedIn()">Bugs</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container" style="width: 1000px">
  <router-outlet></router-outlet>
</main>

<footer class="footer" style="background-color: #202020;">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col text-center">
        <span class="text-light">Team A</span>
      </div>
      <div class="col centerImage">
        <img src="../assets/msglogo.svg" class="msg">
      </div>
    </div>
  </div>
</footer>
