<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" routerLink="sign-up"
          routerLinkActive="btn-danger" class="btn btn-secondary">Sign up</button>
  <button type="button" routerLink="login"
          routerLinkActive="btn-danger" class="btn btn-secondary">Login</button>
</div>
<router-outlet></router-outlet>-->



<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">JBugs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="content">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sign-up">Sign-up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="update">Update</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col text-center">
        <span class="text-muted">Team A</span>
      </div>
      <div class="col centerImage">
        <img src="../assets/msglogo.svg" class="msg">
      </div>
    </div>
  </div>
</footer>
