<div class="column justify-content-center">
  <div class="mat-elevation-z6 data-table">
    <div id="tableContainer" class="table-responsive" style="text-align: center !important;">
      <table class="table table-hover table-dark shadow p-3 mb-5 rounded tablesorter" id="bugsTable">
        <caption>Showing {{ bugList.length }} results.</caption>
        <thead style="background-color: darkred; border-color: darkred;" >
        <tr>
          <th scope="col" translate>demo.Description</th>
          <th scope="col" translate>demo.Fixed Version</th>
          <th scope="col" translate>demo.Severity</th>
          <th scope="col" translate>demo.Status</th>
          <th scope="col" translate>demo.Target date</th>
          <th scope="col" translate>demo.Title</th>
          <th scope="col" translate>demo.Version</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bug of bugList" #row>
          <td>{{ bug.description }}</td>
          <td>{{ bug.fixedVersion }}</td>
          <td>{{ bug.severity }}</td>
          <td>{{ bug.status }}</td>
          <td>{{ bug.targetDate }}</td>
          <td>{{ bug.title }}</td>
          <td>{{ bug.version }}</td>
        </tr>
        </tbody>
      </table>
      <div class="pagination">
        <!--<mat-form-field>-->
          <!--<mat-select placeholder="Select option" [formControl]="pagesFormControl">-->
            <!--<mat-select-trigger style="color: white;">-->
            <!--<span *ngIf="pagesFormControl.value">-->
              <!--{{ pagesFormControl.value }}-->
            <!--</span>-->
            <!--</mat-select-trigger>-->
            <!--<mat-option [value]="5" style="color: black; background-color: #FFF">5</mat-option>-->
            <!--<mat-option [value]="15" style="color: black; background-color: #FFF">15</mat-option>-->
            <!--<mat-option [value]="25" style="color: black; background-color: #FFF">25</mat-option>-->
          <!--</mat-select>-->
        <!--</mat-form-field>-->
        <div style="text-align: center">
          <a id="prev" style="cursor: pointer" (click)="previousPage()">&laquo;</a>
          <span style="color: white;">Page {{ currentPage }}/{{ maxPage }}</span>
          <a id="next" style="cursor: pointer" (click)="nextPage()">&raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>
