<popup #popup>
  <p style="word-wrap: break-word; ">{{message}}</p>
  <button class="btn btn-default" (click)="popup.hide()"translate>demo.Cancel</button>
</popup>


<div class="column justify-content-center">
  <div class="mat-elevation-z6 data-table">
    <table mat-table [dataSource]="bugList" style="position: sticky; width: 100%; "
           class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width" show-filter="true" matSort>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >{{ 'demo.Title' | translate }}</th>
        <td mat-cell *matCellDef="let bug" > {{bug.title}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef >{{ 'demo.Status' | translate }}</th>
        <td mat-cell *matCellDef="let bug"> {{bug.status}}</td>
      </ng-container>

      <ng-container matColumnDef="severity">
        <th mat-header-cell *matHeaderCellDef >{{ 'demo.Severity' | translate }}</th>
        <td mat-cell *matCellDef="let bug"> {{bug.severity}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef >{{ 'demo.Description' | translate }}</th>
        <td mat-cell *matCellDef="let bug">
          <button (click)="viewDescription(bug.description)" >{{ 'demo.Full description' | translate }} </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef >{{ 'demo.Version' | translate }}</th>
        <td mat-cell *matCellDef="let bug"> {{bug.version}}</td>
      </ng-container>

      <ng-container matColumnDef="fixedVersion">
        <th mat-header-cell *matHeaderCellDef >{{ 'demo.Fixed Version' | translate }}</th>
        <td mat-cell *matCellDef="let bug"> {{bug.fixedVersion}}</td>
      </ng-container>

      <ng-container matColumnDef="targetDate">
        <th mat-header-cell *matHeaderCellDef > {{ 'demo.Target date' | translate }}</th>
        <td mat-cell *matCellDef="let bug"> {{bug.targetDate}}</td>
      </ng-container>

      <ng-container matColumnDef="assignedTo">
        <th mat-header-cell *matHeaderCellDef >{{ 'demo.Assigned to' | translate }}</th>
        <td mat-cell *matCellDef="let bug"> {{bug.assignedTo.username}}</td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef > {{ 'demo.Created by' | translate }}</th>
        <td mat-cell *matCellDef="let bug"> {{bug.createdBy.username}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>
  </div>
</div>
