 .clickToEdit.placeholder {
  color:red ;
}

body {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

td {
  color: white;
}

th {
  color: white;
  border: 0;
  font-size: large;
}

table {
  text-align: center;
}

form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 100%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  height: 40px;
  font-size: 18px;
}

input[type=text]:focus {
  box-shadow:  0 4px 2px -2px  #8b0000;
  height: 40px;
  font-size: 18px;

}

input[type=password] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 0;
  margin-bottom: 2em;
  outline: 0;
  padding-top: 1.5em;
  background: transparent;
  border-bottom: 1px solid black;
  height: 40px;
  font-size: 18px;
}

input[type=password]:focus {
  box-shadow:  0 4px 2px -2px  #8b0000;
  height: 40px;
  font-size: 18px;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
  font-size: 100%;
  opacity: .5;
  top: .3em;
  font-weight: 400;
  height: 40px;
  margin-top: 30px;
}

i {
  cursor: pointer;
  margin-right: 1em;
}

.errorLabel {
  color: red;
  margin: 10px;
}

.successLabel {
  color: green;
  margin: 10px;
}


/*/deep/ .mat-select-content {*/
/*z-index: 1000;*/
/*position: absolute;*/
/*}*/

/*/deep/ .ng-trigger {*/
/*z-index: 3000;*/
/*position: relative;*/

/*}*/

.has-float-label label, .has-float-label>span {
  position: absolute;
  cursor: text;
  font-size: 75%;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
  top: -2em;
  left: 12px;
  z-index: 3;
  line-height: 1;
  padding: 0 1px;
}

/* DROPDOWN */

/deep/ .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: darkred;
}

/deep/ .mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: darkred;
}

/deep/ .mat-form-field .mat-form-field-label {
  color: white;
}

 /deep/ .mat-form-field.mat-focused .mat-form-field-label {
   color: white;
 }

 /deep/ .mat-form-field .mat-form-field-underline {
   background-color: white;
 }

 /deep/ .mat-form-field .mat-form-field-underline .mat-form-field-ripple {
   background-color: white;
 }

 /deep/ .mat-select-arrow {
   color: white;
 }

 /deep/ .mat-select-placeholder {
   color: white;
 }

 /* Table */

/deep/ .table th, .table td {
  vertical-align: inherit;
}


/deep/ .material-icons _ngcontent-c1 {
  vertical-align: inherit;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/deep/ i[_ngcontent-c1] {
  vertical-align: inherit;
  margin-left: 5%;
  margin-right: 5%;
}

/deep/ mat-form-field ng-tns-c5-6 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy
mat-form-field-can-float mat-form-field-hide-placeholder ng-pristine ng-valid ng-star-inserted mat-form-field-should-float
ng-touched {
  vertical-align: bottom;
}

/deep/ .mat-form-field {
  text-align: center;
}
