

<div class="column justify-content-center">
  <div class="mat-elevation-z6 data-table">
    <div *ngIf="roleList">
      <table mat-table [dataSource]="roleList" style="position: sticky; width: 100%;" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width">
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Roles </th>
        <td mat-cell *matCellDef="let role"> {{role.type}}</td>
      </ng-container>
      <ng-container matColumnDef="permissionTypes">
        <th mat-header-cell *matHeaderCellDef>  <h1 class="h3 mb-3 font-weight-normal"> Permissions </h1></th>
        <td mat-cell *matCellDef="let role">
          <mat-form-field *ngIf="isDone">
            <mat-select [formControl]="getFormControlForRole(role)" multiple (selectionChange)="updateRole(role)">
              <mat-select-trigger style="color: darkred">
                {{ getFormControlForRole(role).value ? getFormControlForRole(role).value[0]?.type : ''}}
                <span *ngIf="getFormControlForRole(role).value?.length - 1">
                  (+{{getFormControlForRole(role).value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let permission of permissionsList"  [value]="permission" style="color: darkred; background-color: #202020">{{permission.type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </div>
</div>
</div>
