<!--
<div class="row justify-content-center">
  <div class="col-md-4">
    <form (ngSubmit)="submitForm()"
          *ngIf="!loggedIn"
          #formControl="ngForm"
          #formElement>
      <div class="form-group">
        <label for="usernameInput">username</label>
        <input type="text"
               #usernameElement
               #usernameControl="ngModel"
               name="username"
               minlength="3"
               pattern="[a-z]+"
               id="usernameInput"
               class="form-control"
               required
               [(ngModel)]="userModel.username">
      </div>
      <div class="form-group">
        <label for="passwordInput">password</label>
        <input type="password"
               #passwordElement
               name="password"
               id="passwordInput"
               class="form-control"
               required
               [(ngModel)]="userModel.password">
      </div>
      <button type="submit"
              [disabled]="formControl.invalid"
              class="btn btn-primary">Submit!
      </button>
      <p *ngIf="wrongCredentials ">Wrong credentials</p>
    </form>
    <form *ngIf="loggedIn">
      <h2>You are logged in as: {{userModel.username}}</h2>
      <app-content></app-content>
      <button class="btn btn-danger form-control"
              (click)="logout()">Logout</button>
    </form>
  </div>
</div>
-->


<body class="text-center">
<form class="form-signin"
      (ngSubmit)="submitForm()"
      *ngIf="!loggedIn"
      #formControl="ngForm">
  <img class="mb-4" src="../../../assets/loginlogo.png" alt="" width="120" height="120">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" id="inputUsername" class="form-control" placeholder="Username"
         name="username"
         minlength="3"
         pattern="[a-z0-9]+"
         required
         [(ngModel)]="userModel.username">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password"
         name="password"
         required
         [(ngModel)]="userModel.password">
  <button class="btn btn-lg btn-primary btn-block" type="submit"
          [disabled]="formControl.invalid"
        >Sign in</button>
  <p *ngIf="wrongCredentials ">Wrong credentials</p>
</form>
<form *ngIf="loggedIn">
  <h2>You are logged in as: {{userModel.username}}</h2>
  <app-content></app-content>
  <button class="btn btn-danger form-control"
          (click)="logout()">Logout</button>
</form>
</body>
