<link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css"/>
<popup #popup>
  <p>{{errorMessage}}</p>
  <button class="btn btn-default" (click)="popup.hide()">OK</button>
</popup>

<body class="text-center" *ngIf="!loggedIn">
<form class="form-signin"
      (ngSubmit)="submitForm()"
      #formControl="ngForm">
  <img class="mb-4" src="../../../assets/loginlogo.png" alt="" width="120" height="120">
  <h1 class="h3 mb-3 font-weight-normal"translate>demo.Please sign in</h1>
  <span class="form-group has-float-label">
    <input type="text" id="inputUsername" class="form-control"
           name="username"
           minlength="5"
           pattern="[a-z0-9]+"
           required
           [(ngModel)]="userModel.username"
           placeholder=" {{ 'demo.Username' | translate }}">
    <label for="inputUsername"translate>demo.Username</label>
  </span>
  <span class="form-group has-float-label">
    <input type="password" id="inputPassword" class="form-control"
           name="password"
           minlength="4"
           required
           [(ngModel)]="userModel.password"
           placeholder="{{ 'demo.Password' | translate }}">
    <label for="inputPassword"translate>demo.Password</label>
  </span>
  <re-captcha [(ngModel)]="recaptchaResponse"
              name="captcha"
              (resolved)="resolved($event)" siteKey="6LdwLWsUAAAAALRUJUOLuIzx7IjhZddT-6P55787"></re-captcha><br>
  <button class="btn btn-lg btn-block" type="submit"
          [disabled]="formControl.invalid"
  >{{ 'demo.Sign in' | translate }}
  </button>
  <label *ngIf="errorOccurred" class="errorLabel" style="position: center;">Username or password not valid</label>
</form>
</body>
