<span *ngIf="utilService.routeIfNotLoggedIn()">

<link rel="stylesheet"
      href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css"/>


<button (click)="showAddPopup()" type="button" class="btn btn-lg btn-default"
        style="background-color: darkred; color: white; margin-bottom: 1em;" data-toggle="modal"
        data-target="#addModal">
  {{ 'demo.Add User' | translate }}
</button>

<div class="column justify-content-center">
  <div *ngIf="userList">
    <div class="table-responsive">
      <table class="table table-hover table-dark table-striped shadow p-3 mb-5 rounded" id="usersTable">
        <thead style="background-color: darkred; border-color: darkred;">
        <tr>
          <th scope="col" translate>demo.Username</th>
          <th scope="col" translate>demo.First name</th>
          <th scope="col" translate>demo.Last name</th>
          <th scope="col" translate>demo.Phone number</th>
          <th scope="col" translate>E-mail</th>
          <th scope="col" translate>demo.Roles</th>
          <th scope="col" translate>demo.Active</th>
          <th scope="col" translate>demo.Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of userList" #row>
          <td>{{ user.username }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.email }}</td>
          <td>
            <mat-menu #appMenu="matMenu">
                <span *ngFor="let role of user.roles">
                  <button mat-menu-item> {{role.type}} </button>
                </span>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>list</mat-icon>
            </button>
          </td>
          <td>
            <i tooltip="Active user" data-placement="right" class="material-icons" *ngIf="user.isActive"
               style="font-size: 28px; cursor: default;">check_circle_outline</i>
            <i tooltip="Inactive user" data-placement="right" class="material-icons" *ngIf="!user.isActive"
               style="font-size: 28px; cursor: default;">highlight_off</i>
          </td>
          <td>
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
              <i tooltip="Edit user" data-placement="left" class="material-icons" data-toggle="modal"
                 data-target="#editModal" (click)="passDataToModal(user)">edit</i>
              <button type="button" class="btn btn-default" style="background-color: darkred; color: white;"
                      (click)="disableUser(user)" *ngIf="user.isActive" >{{"demo.Disable"|translate}}
              </button>
              <button type="button" class="btn btn-default" style="background-color: limegreen; color: white;"
                      (click)="enableUser(user)" *ngIf="!user.isActive" >{{"demo.Enable"|translate}}
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="generalError" class="fade-out-bck">
        <app-communication [errors]="[errorMessage]" [warnings]="[warningMessage]"></app-communication>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: darkred; margin-right: -0.5px; margin-top: -1px ">
        <h5 class="modal-title" id="editModalTitle" translate style="color: whitesmoke;font-size: 20px; ">demo.Manage
          user</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: #fff; font-size: 20px" aria-label="Close"
                (click)="pressedEdit=false;errorOccurred=false;positiveResponse=false;clearUserModelFields();refresh();generalError=true;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-signin text-center"
              (ngSubmit)="submitEditForm()"
              #formControl="ngForm">
          <h1 class="h1 mb-3 font-weight-normal" translate>demo.Edit a user</h1><br>
          <div class="form-group has-float-label">
            <div *ngIf="submitEditPerformed || firstNameEdit.touched || lastNameEdit.touched || phoneEdit.touched || emailEdit.touched">
                  <div class="help-block"
                        *ngIf="firstNameEdit.errors?.required" translate style="margin-top: 15px">demo.First name is required.</div>
                  <div class="help-block"
                        *ngIf="firstNameEdit.errors?.minlength || firstNameEdit.errors?.pattern"  translate style="margin-top: 15px">demo.First name is invalid.</div>
            </div>
                <input type="text"
                         name="firstName"
                         minlength="2"
                         pattern="[a-zA-Z]+"
                         id="firstNameInputUpdate"
                         #firstNameEdit="ngModel"
                         #firstNameId
                         class="form-control"
                         [ngClass]="{'form-error': firstNameEdit?.errors &&
                         (submitAddPerformed || firstNameEdit.touched || lastNameEdit.touched || phoneEdit.touched || emailEdit.touched)}"
                         required
                         [(ngModel)]="userModel.firstName"
                         placeholder=" ">
                  <label for="firstNameInput" translate style="margin-top: 15px">demo.First name</label>
          </div>
          <div class="form-group has-float-label">
            <div *ngIf="submitEditPerformed || lastNameEdit.touched || phoneEdit.touched || emailEdit.touched">
                <div class="help-block"
                      *ngIf="lastNameEdit.errors?.required" translate style="margin-top: 15px">demo.Last name is required.</div>
                <div class="help-block"
                      *ngIf="lastNameEdit.errors?.minlength || lastNameEdit.errors?.pattern" translate style="margin-top: 15px">demo.Last name is invalid.</div>
            </div>
                <input type="text"
                       name="lastName"
                       minlength="2"
                       pattern="[a-zA-Z]+"
                       id="lastNameInputUpdate"
                       #lastNameEdit="ngModel"
                       #lastNameId
                       class="form-control"
                       [ngClass]="{'form-error': lastNameEdit?.errors &&
                         (submitAddPerformed || lastNameEdit.touched || phoneEdit.touched || emailEdit.touched)}"
                       required
                       [(ngModel)]="userModel.lastName"
                       placeholder=" ">
                <label for="lastNameInput" translate style="margin-top: 15px">demo.Last name</label>
              </div>


          <div class="form-group has-float-label">
            <div *ngIf="submitEditPerformed || phoneEdit.touched || email.touched">
              <div class="help-block" *ngIf="phoneEdit.errors?.required" translate
                    style="margin-top: 15px">demo.Phone number is required.</div>
              <div class="help-block" *ngIf="phoneEdit.errors?.minlength || phoneEdit.errors?.pattern" translate
                    style="margin-top: 15px">demo.Phone number is invalid.</div>
            </div>
              <input type="text"
                     name="mobileNumber"
                     minlength="10"
                     pattern="(^(\+4|)?(07[0-8]{1}[0-9]{1}|02[0-9]{2}|03[0-9]{2}){1}?(\s|\.|\-)?([0-9]{3}(\s|\.|\-|)){2}$)|(^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$)"
                     id="mobileNumberInputUpdate"
                     #phoneEdit="ngModel"
                     #phoneId
                     class="form-control"
                     [ngClass]="{'form-error': phoneEdit?.errors &&
                         (submitAddPerformed || phoneEdit.touched || email.touched)}"
                     required
                     [(ngModel)]="userModel.phoneNumber"
                     placeholder=" ">
              <label for="mobileNumberInput" translate style="margin-top: 15px">demo.Phone number</label>
            </div>

          <div class="form-group has-float-label">
            <div *ngIf="submitEditPerformed || emailEdit.touched">
              <span class="help-block" *ngIf="emailEdit.errors?.required" translate
                    style="margin-top: 15px">E-mail is required.</span>
              <span class="help-block" *ngIf="emailEdit.errors?.pattern" translate
                    style="margin-top: 15px">E-mail is invalid.</span>
            </div>
              <input type="text"
                     name="email"
                     minlength="5"
                     pattern="^[a-zA-Z0-9_.]{2,}@msggroup.com$"
                     id="emailInputUpdate"
                     #emailEdit="ngModel"
                     #emailId
                     class="form-control"
                     [ngClass]="{'form-error': emailEdit?.errors &&
                         (submitAddPerformed || emailEdit.touched)}"
                     required
                     [(ngModel)]="userModel.email"
                     placeholder=" ">
              <label for="emailInput" style="margin-top: 15px">E-mail</label>
            </div>

          <span class="form-group has-float-label">
            <mat-form-field>
              <mat-select placeholder="Select roles" [formControl]="editRolesFormControl" multiple
                          (selectionChange)="setRoles(rolesFormControl.value)">
                <mat-select-trigger>
                  Roles selected
                </mat-select-trigger>
                <mat-option *ngFor="let role of roles" [value]="role">
                  {{role.type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>


          <button class="btn btn-lg btn-block" type="submit" id="buttonEditId"
                  style="background-color: darkred;margin-top: 30px; color: white;  color: whitesmoke; font-size: 15px; position: center"
                  [disabled]="formControl.invalid" translate
          >{{"demo.Submit"|translate}}
          </button>
            <app-communication [errors]="[errorMessage]"
                               [warnings]="[warningMessage]"
                               [successes]="[succcessMessage]"
            ></app-communication>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: darkred; margin-right: -0.5px; margin-top: -1px ">
        <h5 class="modal-title" id="addModalTitle" translate style="color: whitesmoke;font-size: 20px; ">demo.Add
          user</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: #fff; font-size: 20px" aria-label="Close"
                (click)="pressedEdit=false;errorOccurred=false;positiveResponse=false;clearUserModelFields();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <i class="material-icons" (mouseenter)="showInfo()" (mouseleave)="hideInfo()"
           style="cursor: help;margin: 0 auto;">info</i>
        <div #infoDiv class="alert alert-warning"
             style="left:20%;top:25%;width: 60%; margin: 0 auto;position:fixed;z-index: 99 !important;"
             [hidden]="!showInfoDiv">
          <strong translate>demo.Keep in mind!</strong>
          <p translate style="color:black;">demo.KeepInMindMessageUser</p>
        </div>
        <form class="form-signin text-center"
              (ngSubmit)="submitAddForm()" #formControlAdd="ngForm">
              <div class="form-group has-float-label">
                <div *ngIf="submitAddPerformed || firstName.touched || lastName.touched || phone.touched || email.touched || password.touched ">
                  <div class="help-block"
                        *ngIf="firstName.errors?.required" translate style="margin-top: 15px">demo.First name is required.</div>
                  <div class="help-block"
                        *ngIf="firstName.errors?.minlength || firstName.errors?.pattern" translate style="margin-top: 15px">demo.First name is invalid.</div>
                </div>
                  <input type="text"
                         name="firstName"
                         minlength="2"
                         pattern="[a-zA-Z]+"
                         id="firstNameInput"
                         #firstName="ngModel"
                         class="form-control"
                         [ngClass]="{'form-error': firstName?.errors &&
                         (submitAddPerformed || firstName.touched || lastName.touched || phone.touched || email.touched || password.touched)}"
                         required
                         [(ngModel)]="userModel.firstName"
                         placeholder=" ">
                  <label for="firstNameInput" translate style="margin-top: 15px">demo.First name</label>
              </div>
          <div class="form-group has-float-label">
            <div *ngIf="submitAddPerformed || lastName.touched || phone.touched || email.touched || password.touched ">
                <div class="help-block"
                      *ngIf="lastName.errors?.required" translate style="margin-top: 15px">demo.Last name is required.</div>
                <div class="help-block"
                      *ngIf="lastName.errors?.minlength || lastName.errors?.pattern" translate style="margin-top: 15px">demo.Last name is invalid.</div>
            </div>
              <input type="text"
                       name="lastName"
                       minlength="2"
                       pattern="[a-zA-Z]+"
                       id="lastNameInput"
                       #lastName="ngModel"
                       class="form-control"
                       [ngClass]="{'form-error': lastName?.errors &&
                         (submitAddPerformed || lastName.touched || phone.touched || email.touched || password.touched)}"
                       required
                       [(ngModel)]="userModel.lastName"
                       placeholder=" ">
                <label for="lastNameInput" translate style="margin-top: 15px">demo.Last name</label>
          </div>
          <div class="form-group has-float-label">
            <div *ngIf="submitAddPerformed || phone.touched || email.touched || password.touched ">
              <div class="help-block" *ngIf="phone.errors?.required" translate
                    style="margin-top: 15px">demo.Phone number is required.</div>
              <div class="help-block" *ngIf="phone.errors?.pattern" translate
                    style="margin-top: 15px">demo.Phone number is invalid.</div>
            </div>
              <input type="text"
                     name="mobileNumber"
                     minlength="10"
                     pattern="(^(\+4|)?(07[0-8]{1}[0-9]{1}|02[0-9]{2}|03[0-9]{2}){1}?(\s|\.|\-)?([0-9]{3}(\s|\.|\-|)){2}$)|(^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$)"
                     id="mobileNumberInput"
                     #phone="ngModel"
                     class="form-control"
                     [ngClass]="{'form-error': phone?.errors &&
                         (submitAddPerformed || phone.touched || email.touched || password.touched)}"
                     required
                     [(ngModel)]="userModel.phoneNumber"
                     placeholder=" ">
              <label for="mobileNumberInput" translate style="margin-top: 15px">demo.Phone number</label>
            </div>
          <div class="form-group has-float-label">
            <div *ngIf="submitAddPerformed || email.touched || password.touched ">
              <span class="help-block" *ngIf="email.errors?.required" translate
                    style="margin-top: 15px">demo.E-mail is required.</span>
              <span class="help-block" *ngIf="email.errors?.pattern" translate
                    style="margin-top: 15px">demo.E-mail is invalid.</span>
            </div>
              <input type="text"
                     name="email"
                     minlength="5"
                     pattern="^[a-zA-Z0-9_.]*@msggroup.com$"
                     id="emailInput"
                     #email="ngModel"
                     class="form-control"
                     [ngClass]="{'form-error': email?.errors &&
                         (submitAddPerformed || email.touched || password.touched)}"
                     required
                     [(ngModel)]="userModel.email"
                     placeholder=" ">
              <label for="emailInput" style="margin-top: 15px">E-mail</label>
            </div>
          <div class="form-group has-float-label" [class.has-error]="password.invalid && password.touched">
            <div *ngIf="submitAddPerformed|| password.touched ">
              <div class="help-block"
                    *ngIf="password.errors?.required" translate style="margin-top: 15px">demo.Password is required.</div>
              <div class="help-block" *ngIf="password.errors?.pattern && password.touched" translate
                    style="margin-top: 15px">demo.Password is invalid.</div>
            </div>
              <input type="password"
                     name="password"
                     id="passwordInput"
                     #password="ngModel"
                     class="form-control"
                     [ngClass]="{'form-error': password?.errors &&
                         (submitAddPerformed|| password.touched)}"
                     required
                     pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,20}"
                     [(ngModel)]="userModel.password"
                     placeholder=" ">
              <label for="passwordInput" translate style="margin-top: 15px">demo.Password</label>
            </div>


          <span class="form-group has-float-label">
            <mat-form-field>
              <mat-select placeholder="Select roles" [formControl]="rolesFormControl" multiple
                          (selectionChange)="setRoles(rolesFormControl.value)">
                <mat-select-trigger>
                  Roles selected
                </mat-select-trigger>
                <mat-option *ngFor="let role of roles" [value]="role">
                  {{role.type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </span>
          <button class="btn btn-lg btn-block" type="submit"
                  style="background-color: darkred;margin-top: 30px; color: white; margin-bottom: 1em;  font-size: 15px; position: center"
                  [disabled]="formControl.invalid" translate>{{"demo.Submit"|translate}}
          </button>
            <app-communication [errors]="[errorMessage]"
                               [warnings]="[warningMessage]"
                               [successes]="[succcessMessage]"
            ></app-communication>
        </form>
      </div>
    </div>
  </div>
</div>
</span>
