<link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css"/>
<popup #popup>
  <p>{{errorMessage}}</p>
  <button class="btn btn-default" (click)="popup.hide()">OK</button>
</popup>
<body class="text-center">
<div class="column justify-content-center">
    <img class="mb-4" src="../../../assets/loginlogo.png" alt="" width="120" height="120">
    <h1 class="h3 mb-3 font-weight-normal">Sign up here</h1>
<div class="row justify-content-center">
  <div class="col-md-4">
    <form (ngSubmit)="signUpForm()"
          #formControl="ngForm"
          #formElement
          class="form-signin">
      <span class="form-group has-float-label">
        <input type="text"
               name="firstName"
               minlength="3"
               pattern="[a-zA-Z]+"
               id="firstNameInput"
               class="form-control"
               required
               [(ngModel)] = "userModel.firstName"
               placeholder=" ">
        <label for="firstNameInput">First name</label>
      </span>
      <span class="form-group has-float-label">
        <input type="text"
               name="lastName"
               minlength="3"
               pattern="[a-zA-Z]+"
               id="lastNameInput"
               class="form-control"
               required
               [(ngModel)] = "userModel.lastName"
               placeholder=" ">
        <label for="lastNameInput">Last name</label>
      </span>
      <span class="form-group has-float-label">
        <input type="text"
               name="mobileNumber"
               minlength="10"
               pattern="[+0-9]+"
               id="mobileNumberInput"
               class="form-control"
               required
               [(ngModel)] = "userModel.mobileNumber"
               placeholder=" ">
        <label for="mobileNumberInput">Phone number</label>
      </span>
      <span class="form-group has-float-label">
        <input type="text"
               name="email"
               minlength="5"
               pattern="^[a-zA-Z]*@msggroup.com$"
               id="emailInput"
               class="form-control"
               required
               [(ngModel)] = "userModel.email"
               placeholder=" ">
        <label for="emailInput">E-mail</label>
      </span>
      <span class="form-group has-float-label">
        <input type="password"
               name="password"
               id="passwordInput"
               class="form-control"
               required
               [(ngModel)]="userModel.password"
               placeholder=" ">
        <label for="passwordInput">Password</label>
      </span>
      <button type="submit"
              class="btn btn-primary">Submit!
      </button>
    </form>
  </div>
  </div>
</div>
</body>
