<popup #popup>
  <p>{{errorMessage}}</p>
  <button class="btn btn-default" (click)="popup.hide()">OK</button>
</popup>
<link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v3.0.1/dist/bootstrap-float-label.min.css"/>
<body class="text-center">
  <div class="column justify-content-center">
      <img class="mb-4" src="../../../assets/loginlogo.png" alt="" width="120" height="120">
      <h1 class="h3 mb-3 font-weight-normal" translate>demo.Sign up here</h1>
      <i class="material-icons" style="cursor: help; font-size: 36px" (mouseenter)="showInfo()" (mouseleave)="hideInfo()" data-toggle="tooltip" translate data-html="true" data-placement="bottom">info</i>
      <div #infoDiv class="alert alert-warning" style="width: 50%; margin: 0 auto;" [hidden]="!showInfoDiv">
        <strong translate>demo.Keep in mind!</strong>
        <p translate>demo.KeepInMindMessage</p>
      </div>
      <div class="row justify-content-center">
          <form (ngSubmit)="signUpForm()"
                #formControl="ngForm"
                #formElement
                class="form-signin">
            <span class="form-group has-float-label">
              <span class="help-block" *ngIf="firstName.errors?.required && firstName.touched" translate>demo.First name is required.</span>
              <span class="help-block" *ngIf="firstName.errors?.minlength && firstName.touched"translate>demo.First name is invalid.</span>
              <input type="text"
                     name="firstName"
                     minlength="2"
                     pattern="[a-zA-Z]+"
                     id="firstNameInput"
                     #firstName="ngModel"
                     class="form-control"
                     required
                     [(ngModel)] = "userModel.firstName"
                     placeholder="{{ 'demo.First name' | translate }} ">
              <label for="firstNameInput"translate>demo.First name</label>
            </span>
            <span class="form-group has-float-label">
              <span class="help-block" *ngIf="lastName.errors?.required && lastName.touched"translate>demo.Last name is required.</span>
              <span class="help-block" *ngIf="lastName.errors?.minlength && lastName.touched"translate>demo.Last name is invalid.</span>
              <input type="text"
                     name="lastName"
                     minlength="2"
                     pattern="[a-zA-Z]+"
                     id="lastNameInput"
                     #lastName="ngModel"
                     class="form-control"
                     required
                     [(ngModel)] = "userModel.lastName"
                     placeholder="{{ 'demo.Last name' | translate }} ">
              <label for="lastNameInput"translate>demo.Last name</label>
            </span>
            <span class="form-group has-float-label">
              <span class="help-block" *ngIf="phone.errors?.required && phone.touched"translate>demo.Phone number is required.</span>
              <span class="help-block" *ngIf="phone.errors?.minlength && phone.touched"translate>demo.Phone number is invalid.</span>
              <input type="text"
                     name="mobileNumber"
                     minlength="10"
                     pattern="[+0-9]+"
                     id="mobileNumberInput"
                     #phone="ngModel"
                     class="form-control"
                     required
                     [(ngModel)] = "userModel.mobileNumber"
                     placeholder="{{ 'demo.Phone number' | translate }} ">
              <label for="mobileNumberInput"translate>demo.Phone number</label>
            </span>
            <span class="form-group has-float-label">
              <span class="help-block" *ngIf="email.errors?.required && email.touched"translate>demo.E-mail is required.</span>
              <span class="help-block" *ngIf="email.errors?.pattern && email.touched"translate>demo.E-mail is invalid.</span>
              <input type="text"
                     name="email"
                     minlength="5"
                     pattern="^[a-zA-Z]*@msggroup.com$"
                     id="emailInput"
                     #email="ngModel"
                     class="form-control"
                     required
                     [(ngModel)] = "userModel.email"
                     placeholder=" ">
              <label for="emailInput">E-mail</label>
            </span>
            <span class="form-group has-float-label" [class.has-error]="password.invalid && password.touched">
              <span class="help-block" *ngIf="password.errors?.required && password.touched"translate>demo.Password is required.</span>
              <span class="help-block" *ngIf="password.errors?.pattern && password.touched"translate>demo.Password is invalid.</span>
              <input type="password"
                     name="password"
                     id="passwordInput"
                     #password="ngModel"
                     class="form-control"
                     required
                     pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,20}"
                     [(ngModel)]="userModel.password"
                     placeholder="{{ 'demo.Password' | translate }} ">
              <label for="passwordInput" translate>demo.Password</label>
            </span>
            <button type="submit"
                    class="btn btn-default"
                    [disabled]="formControl.invalid">{{ 'demo.Submit' | translate }}
            </button>
          </form>
      </div>
  </div>
</body>
